extends layout
block content
    h2 Perfil do Utente #{paciente.nome}
    div(class='triagem')
        form(method="POST" action="/exames/realizados/" + paciente.NUS)
            label(id="nus" utente=paciente.NUS) NUS: 
                span #{paciente.NUS}
            label Data de Nascimento: 
                span #{paciente.dataNascimento}
            label Genero: 
                span #{paciente.genero}
            label Morada: 
                span #{paciente.rua} , #{paciente.concelho} , #{paciente.distrito} , #{paciente.pais}
            label Exames:
            each exame in exames
                | #{exame.nomeExame}
                input(type="radio", name="exame", value=exame.idExame)
            label Observações
            textarea(name="descricao", cols="40", rows="5")
            button(id="submit" name="Submeter" value="Submeter") Submeter
        button(onclick="location.href='/exames'") Voltar atrás