extends layout
block content
    h2 Perfil do Utente #{paciente.nome}
    div(class='triagem')
        form(method="POST" action="/consultas/resultado/" + paciente.NUS)
            label(id="nus" utente=paciente.NUS) NUS: 
                span #{paciente.NUS}
            label Data de Nascimento: 
                span #{paciente.dataNascimento}
            label Genero: 
                span #{paciente.genero}
            label Morada: 
                span #{paciente.rua} , #{paciente.concelho} , #{paciente.distrito} , #{paciente.pais}
            label Opçoes:
            | Terminar Consulta
            input(type="radio", name="opcao", value="Terminado")
            | Internar Paciente
            input(type="radio", name="opcao", value="Internamento")
            | Fazer Exames
            input(type="radio", name="opcao", checked="true" value="Exame")
            label Observações Feitas
            textarea(name="done", cols="40", disabled=true, rows="5") #{descricao}
            label Observações
            textarea(name="descricao", cols="40", rows="5")
            button(id="submit" name="Submeter" value="Submeter") Submeter
        a(href="/consultas") Voltar atrás