extends layout
block content
    h2 Perfil do Utente #{paciente.nome}
    div(class='triagem')
        form(method="POST" action="/triagem/setPrioridadeUser/" + paciente.NUS)
            label(id="nus" utente=paciente.NUS) NUS: 
                span #{paciente.NUS}
            label Data de Nascimento: 
                span #{paciente.dataNascimento}
            label Genero: 
                span #{paciente.genero}
            label Morada: 
                span #{paciente.rua} , #{paciente.concelho} , #{paciente.distrito} , #{paciente.pais}
            label Estado do Paciente
            | Pulseira Verde
            input(type="radio", name="paciente_status", value="Verde")
            | Pulseira Amarela
            input(type="radio", name="paciente_status", value="Amarelo")
            | Pulseira Vermelha
            input(type="radio", name="paciente_status", value="Vermelho")
            | Fazer Exames
            input(type="radio", name="paciente_status", checked="true" value="Exame")
            label Observações
            textarea(name="description", cols="40", rows="5")
            button(id="submit" name="Submeter" value="Submeter") Submeter
        button(onclick="location.href='/triagem'") Voltar atrás
